<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.air.controller"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/api/register"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/api/login"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/api/idCard/validate"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/api/validateCode"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/api/to/register"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/static/**"></mvc:exclude-mapping>
            <bean class="com.air.interceptor.UserLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <mvc:resources mapping="/static/**" location="/static/"/>

    <bean id="jspViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.InternalResourceView</value>
        </property>
        <!-- 设置前缀，即视图所在的路径 -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <!-- 设置后缀，即视图的扩展名 -->
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2"/>
    </bean>
</beans>
